.displaynone {
  display: none;
}

.noclick {
  pointer-events: none;
}

.mapboxgl-ctrl-attrib {
  display: none !important;
}

/* controls */
.map-button {
  background-color: white !important;
  color: #333333 !important;
  border-radius: 4px !important;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !important;
  position: absolute !important;
  top: 0;
  margin: 10px !important;
  width: 29px !important;
  height: 29px !important;
  z-index: 50 !important;
}

.map-button:hover {
  background-color: #f2f2f2 !important;
}

.map-button-disabled {
  background-color: #cccccc !important;
  box-shadow: none !important;
}

.history-slider {
  position: absolute !important;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 !important;
  width: 40vw !important;
  z-index: 50 !important;
}

@media screen and (max-width: 600px) {
  .history-slider {
    bottom: 40px;
  }
}

.history-slider-label {
  background-color: #fff9e5;
  color: #333333;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40vw;
  height: 54px;
  padding: 0 6px 6px 6px;
  z-index: 50;
  font-size: 12px;
  text-align: end;
}

@media screen and (max-width: 600px) {
  .history-slider-label {
    width: 60vw;
  }
}

.elevation-slider {
  position: absolute !important;
  top: 165px;
  right: 4px;
  padding: 0 20px !important;
  height: 60px !important;
  z-index: 50 !important;
}

.elevation-slider-label {
  background-color: white;
  color: #333333;
  border-radius: 4px;
  position: absolute;
  top: 225px;
  right: 0;
  margin: 10px 7px 10px 7px;
  width: 35px;
  height: 15px;
  z-index: 50;
  font-size: 10px;
  text-align: center;
}

/* markers */
.marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 36px;
}

.marker-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: 50% 35%;
}

.marker-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 50%;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
}

.marker-border {
  position: absolute;
  top: -2.2px;
  left: -3px;
  z-index: 4;
  width: 30px;
  height: 30px;
}

.webcam {
  padding: 18px 8px 14px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.webcam-text-name {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: start;
}

.webcam-text-date {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: end;
}

.sounding .carousel .control-prev.control-arrow::before {
  border-right: 8px solid #333333 !important;
}

.sounding .carousel .control-next.control-arrow::before {
  border-left: 8px solid #333333 !important;
}

/* popups */
.mapboxgl-popup-content {
  border-radius: 8px;
  padding-bottom: 8px;
}

.mapboxgl-popup-content > p {
  margin: 0;
}

.mapboxgl-popup-anchor-left {
  padding-left: 30px;
}

.mapboxgl-popup-anchor-right {
  padding-right: 30px;
}

.mapboxgl-popup-anchor-top {
  padding-top: 20px;
}

.mapboxgl-popup-anchor-top-left {
  padding-top: 10px;
  padding-left: 20px;
}

.mapboxgl-popup-anchor-top-right {
  padding-top: 10px;
  padding-right: 20px;
}

.mapboxgl-popup-anchor-bottom {
  padding-bottom: 30px;
}

.mapboxgl-popup-anchor-bottom-left {
  padding-bottom: 20px;
  padding-left: 20px;
}

.mapboxgl-popup-anchor-bottom-right {
  padding-bottom: 20px;
  padding-right: 20px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  display: none;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  display: none;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  display: none;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  display: none;
}
