api.cat.zephyrapp.nz {
	reverse_proxy server:{$NODE_PORT}
}

cat.zephyrapp.nz {
	root * /srv
	encode gzip
	try_files {path} /index.html
	file_server
}

fs.cat.zephyrapp.nz {
	root * /var/www
	file_server
}

logs.cat.zephyrapp.nz {
	reverse_proxy seq:{$SEQ_PORT}
}
